<div class="container">
  <h1><%= @restaurant.name %></h1>

  <ul>
    <li>
      <%= @restaurant.phone_number %>
      <%= @restaurant.address %>
      <%= @restaurant.category %>
    </li>
    </ul>

    <h2>Reviews</h2>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
    <ul>
      <% @restaurant.reviews.each do |review| %>
        <li>
          <%= review.content %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Home", restaurants_path %>
</div>
